<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.CongratulationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditTopicActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddTopicToFolderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailFolderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TypeVocabStudyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MultiChoiceStudyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailTopicActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FlashCardStudyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AnswersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateStudyModuleActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProvisionsAndPolicies"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityRanking"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityChangePassword"
            android:exported="false" />
    </application>

</manifest>